*, *:after, *:before {
    box-sizing: border-box;
}
.container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content:flex-start;
}
.menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 100px;
    max-width: 20%;
    border-radius: 12px;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(52, 46, 173, 0.25), 0 15px 30px 0 rgba(52, 46, 173, 0.1);
}
.menu-item {
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
}
.menu-item:focus, .menu-item:hover {
    outline: none;
}
.menu-item:hover .material-icons {
    font-family: "Material Icons Outlined";
    color: #4448D5; 
}
.menu-item:hover .menu-item-label {
    color: #4448D5 
}
.material-icons {
    font-family: "Material Icons";
    display: block;
    margin-bottom: 4px;
    font-size: 26px;
    color: #aeabde;
    transition: 0.25s ease;
}
.menu-item-label {
    display: block;
    font-family: cursive;
    font-size: 13px;
    color: #c2c0e6;
    transition: 0.25s ease;
}

.child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


  #rename{
      max-width: 64px;
  }
  .controls input{
      display: block;
  }
  .controls .material-icons{
      display: inline;
  }
  .controls .material-icons:hover{
      color: red;
  }