<nav>
    <div class="navContainer">
        <div class="row"> 
            <span class="material-icons" (click)="moveBackward()">arrow_back_ios</span>
            <label class="material-icons-label">Previous page</label>
        </div>
        <div class="row">
            <span class="material-icons" (click)="moveForward()">arrow_forward_ios</span>
            <label class="material-icons-label">Next Page</label>
        </div>
        <div class="row">
            <span class="material-icons" (click)="clickCopy();">copy_all</span>
            <label class="material-icons-label">Copy selected</label>
            <div *ngIf="copyIsClicked == true;" class="drop-down-container">
                <div *ngFor="let customFolder of customFoldersNames; let i = index;" class="drop-down">
                    <span (click)="copySelected(i); copyIsClicked = !copyIsClicked;" >{{customFolder}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <span class="material-icons" (click)="deleteSelected()">delete_outline</span>
            <label class="material-icons-label">Delete selected</label>
        </div>
        <div class="row">
            <span class="material-icons" (click)="clearSelected()">clear</span>
            <label class="material-icons-label">Clear selected</label>
        </div>
        <div class="row" *ngIf="getFolderNumber() == '3';">
            <span class="material-icons" (click)="restoreSelected()">restore_from_trash</span>
            <label class="material-icons-label">Restore selected</label>
        </div>
    </div>
</nav>
<div *ngIf="isCustomFolder()" class="tokensContainer">
    <span class="material-icons" *ngIf="editingTokens == false;" (click)="editTokens()">settings</span>
    <label *ngIf="editingTokens == false;">Edit tokens</label>
    <div *ngIf="editingTokens == true;" class="container">
        <label for="tokens">Tokens: </label>
        <div class="fieldWrapper">
            <div *ngFor="let token of tokens.values; let i = index" class="tag">
                <span>{{token}}</span>
                <button (click)="deleteToken(i)">x</button>
            </div>
            <input type="text" id="tokens" (keypress)="addToken($event)">
        </div>
    </div>
    <button class="save" *ngIf="editingTokens == true;" (click)="saveTokens()">Save changes</button>
</div>
<div class="radio">
    <input class="radio-input" type="radio" name="radioButton" id="radio1" (click)="updateRadio(true)" checked="checked">
    <label class="radio-label" for="radio1">
        Descending
    </label>
</div>
<div class="radio">
    <input class="radio-input" type="radio" name="radioButton" id="radio2" (click)="updateRadio(false)">
    <label class="radio-label" for="radio2">
        Acseascending
    </label>
</div>
<!-- <div class="sort" *ngIf="selectedRadio == true"> -->
<div class="sort">
    <label for="sorting">Sort according to: </label>
    <select style="font-family: cursive;" id="sorting" (change)="updateSorting($event)">
        <option value="date" selected="selected">Date</option>
        <option value="priority">Priority</option>
        <option value="subject">Subject</option>
        <option value="from">Sender</option>
    </select>
</div>
<!-- <div class="sort" *ngIf="selectedRadio == false">
    <label for="sorting">Sort according to: </label>
    <select style="font-family: cursive;" id="sorting" (change)="updateSorting($event)">
        <option value="date" selected="selected">Date: New to old</option>
        <option value="priority">Priority: Higher to lower</option>
        <option value="subject">Subject: Alphabetical order Z to A</option>
        <option value="from">Sender: Alphabetical order Z to A</option>
    </select>
</div> -->
<div class="search">
    <input type="text" [(ngModel)]="selectedSearching" (input)="updateSearching($event)" placeholder="Search: ">
</div>
<div id="contents">
    <div *ngFor="let email of emailHeaders; let i = index">
        <!-- <hr> -->
        <div (click)="goToEmail(i)" class="emailBar" [ngClass]="selected.has(email.id)? 'selected': ''">
            <input type="checkBox" [checked]="selected.has(email.id)" (click)="select(email.id,$event)">
            <div class="emailHead" [ngClass]="email.isRead? '': 'unread'">
                <span>{{email.from}}</span>
                <span>{{email.subject}}</span>
                <span>{{email.date.toLocaleString()}}</span>
            </div>
            <div class="controls">
                <button (click)="delete(email.id,$event)">delete</button>
                <button (click)="toggleRead(email.id,i,email.isRead,$event)">{{email.isRead? 'mark as unread': 'mark as read'}}</button>
                <button (click)="restore(email.id,$event)" *ngIf="getFolderNumber() == '3';">restore</button>
            </div>
        </div>

    </div>
</div>
<div class="pageNumber">Page number: {{pageNumber}}/{{totalPages}}</div>
<div class="child">
    <router-outlet></router-outlet>
</div>