<div class="background">
    <div class="container">
        <div class="image">
            <img class="image" src="../../../assets/loginImage.png"/>
        </div>
        <div class="login-box">
            <h1><b>Login</b></h1>
            <form method="post">
              <div class="text-field">
                <input type="email" placeholder=" " required>
                <span></span>
                <label>Email address</label>
              </div>
              <div class="text-field">
                <input type="password" placeholder=" " required>
                <span></span>
                <label>Password</label>
              </div>
              <button type="submit">Submit</button>
            </form>
            <br>
            <div class="signup-link">
              Not a user? <a [routerLink]="['../signup']">Signup</a>
            </div>
            
        </div>
    </div>
</div>
