#contents{
    width: 720px;
    border: 1px solid black;
    padding: 10px;
    font-family: cursive;
    font-size: 16px;
}
.contactBar{
    display: flex;   
    align-items: center;
    width: 720px;
    border-bottom: 1px solid rgb(160, 160, 160);
}
.contactHead{
    flex-basis: 100%;
    margin: 5px;
}
span{
    margin: 5px 20px;
}
hr{
    margin: 2px 5px;
}
button{
    margin: 1px 2px;
    cursor: pointer;
    font-family: cursive;
    border-radius: 25px;
}
button:hover{
    color: white;
    background-color: #4448D5;
}
.controls{
    padding: 5px;
    margin: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
}
.child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.pageNumber{
    position: absolute;
    top: 100%;
    left: 50%;
    font-family: cursive;
}
.contactEmails{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scrollable{
    max-height: 125px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: -22.4px;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .radio{
    display: inline;
    font-family: cursive;
    margin-inline: 20px;
    padding-bottom: 10px;
}
.sort{
    margin-left: 10px;
    margin-top: 10px;
}
.serach input{
    margin-top: 10px;
}
.search span{
    color: #c2c0e6;
}
.material-icons{
    color: #c2c0e6;
}
.material-icons:hover{
    color: #4448D5;
    cursor: pointer;
}
.search .material-icons:hover{
    color: #4448D5;
    cursor: pointer;
}