<div class="radio">
    <input class="radio-input" type="radio" name="radioButton" id="radio1" (click)="updateRadio(true)">
    <label class="radio-label" for="radio1">
        Acseascending
    </label>
  </div>
<div class="radio">
    <input class="radio-input" type="radio" name="radioButton" id="radio2" (click)="updateRadio(false)">
    <label class="radio-label" for="radio2">
        Descending
    </label>
  </div>
<div class="sort" *ngIf="selectedRadio == true">
    <label for="sorting">Sort according to: </label>
    <select style="font-family: cursive;" id="sorting" (change)="updateSorting($event)">
        <option value="datea" selected="selected">Date: Old to new</option>
        <option value="prioritya">Priority: Lower to Higher</option>
        <option value="alphaa">Alphabetical order: A to Z</option>
    </select>
</div>
<div class="sort" *ngIf="selectedRadio == false">
    <label for="sorting">Sort according to: </label>
    <select style="font-family: cursive;" id="sorting" (change)="updateSorting($event)">
        <option value="dated" selected="selected">Date: New to old</option>
        <option value="priorityd">Priority: Higher to lower</option>
        <option value="alphad">Alphabetical order: Z to A</option>
    </select>
</div>
<div class="search">
    <span (click)="updateSearching()" class="material-icons-outlined">search</span>
    <input  type="text" [(ngModel)]="selectedSearching" placeholder="Search: ">
</div>
<nav>
    <span class="material-icons" (click)="moveBackward()">arrow_back_ios</span>
    <span class="material-icons" (click)="moveForward()">arrow_forward_ios</span>
</nav>
<div id="contents">
    <div *ngFor="let contact of contacts; let i = index">
        <!-- <hr> -->
        <div class="contactBar">
            <div class="contactHead">
                <span id="contactName">{{contacts[i].contactName}}</span>
                <div class="scrollable">
                    <div class="contactEmails" *ngFor="let email of contacts[i].emails; let j = index">
                        <span>{{contacts[i].emails[j]}}</span>
                    </div>
                </div>
            </div>
            <div class="controls">
                <button (click)="delete(i)">delete</button>
                <button (click)="goToContact(i)" >edit</button>
            </div>
        </div>

    </div>
</div>
<div class="pageNumber">Page no: {{pageNumber}} / {{totalPageNumber}}</div>
<div class="child">
    <router-outlet></router-outlet>
</div>